@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header card-header-info card-header-text">
                <div class="card-icon">
                    <i class="material-icons">directions_car</i>
                </div>
                <h4 class="card-title">Restauraciones</h4>
            </div>
            <div class="card-body ">
                <div class="row col-md-12">
                </div>
                <br />
                <div class="row">

                    <div class="col-md-12">
                        @Html.EJS().Grid("GridRestauracionporAuto").DataSource((IEnumerable<object>)ViewBag.ListaAR).RowSelected("RestauracionAuto").AllowFiltering().AllowTextWrap().EnableAutoFill().AllowResizing(true).Columns(col =>
                   {
                                  
                                  
                        }).AllowPaging().PageSettings(page => { page.PageSize(2); }).Render()
                    </div>
                </div>
            </div>
            @*<div class="card-footer">
                <input type="button" value="Agregar" id="btnagregarservicio" class="btn btn-primary" />
            </div>*@
        </div>
    </div>
</div>
<script>
    function RestauracionAuto() {
        //var grid = document.getElementById("GridAutos").ej2_instances[0];
         // var IdC = grid.getSelectedRecords()[0].IdCliente;
        // var IdAut = grid.getSelectedRecords()[0].IdAuto;
       // var url = '@Url.Action("AddServicio", "Auto", new { IdAuto = "_id_" })'.replace('_id_', IdAut);
           
    }
</script>

